@model IEnumerable<Tedliu.MVC.Models.DomainModel.FoodTable>

@{
    ViewBag.Title = "訂便當列表";
}

<h2>訂便當列表</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FoodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FoodName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoodPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("修改訂購品項", "Edit", new { id=item.id }) |
      
            @Html.ActionLink("刪除訂購品項", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
